body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #9c93ff;
    color: #000;
    padding: 20px;
    text-align: center;
}

#buttons {
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    padding: 2em;
}

.btn {
    margin: 0 10px;
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.btn:hover {
    background-color: #9c93ff;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

img {
    max-width: 50em;
    height: 20em;
    margin: 10px; 
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.05);
}

#lightbox-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
    z-index: 9999; /* Ensure it's on top of other content */
}

#lightbox-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#lightbox-content img {
    max-width: 80%;
    max-height: 80%;
}

#lightbox-close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    img {
        flex: 40%;
        max-width: 40%;
    }
}
